{% form 'customer' %}
  {{ form.errors | default_errors }}
  {% if form.posted_successfully? %}
    <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
  {% else %}
    <div class="input-group">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email"
        name="contact[email]"
        id="Email"
        class="input-group-field"
        value="{% if customer %}{{ customer.email }}{% endif %}"
        placeholder="{{ 'general.newsletter_form.newsletter_text' | t }}"
        autocorrect="off"
        autocapitalize="off">
      <span class="input-group-btn">
        <button type="submit" class="btn" name="commit" id="Subscribe">
          {{ 'general.newsletter_form.submit' | t }}
        </button>
      </span>
    </div>
    <div class="checkbox" style="clear: both;">
      <input type="hidden" name="customer[accepts_terms]" value="" />
      <input type="checkbox" name="customer[accepts_terms]" required/>
      <span {% if settings.enable_multilang %}data-translate="general.newsletter_form.newsletter_terms_html"{%endif%}>{{ 'general.newsletter_form.newsletter_terms_html' | t }}</span>
    </div>
  {% endif %}
{% endform %}