 {% if section.settings.display_banner %}
<div class="banner wow fadeInUp">
   {% if section.settings.banner != blank %}
  {%- assign img_url = section.settings.banner | img_url: '2000x' -%}
   <img src="{{ img_url }}"  alt="{{ section.settings.image.alt }}" />
  {% else %}
  {% capture current %}{% cycle 2 %}{% endcapture %}
  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
  <div
    class="container"
    style="
      {% if section.settings.alignment == 'left' %}
      justify-content: flex-start;
      {% endif %}
      {% if section.settings.alignment == 'right' %}
      justify-content: flex-end;
      {% endif %}
      {% if section.settings.alignment == 'center' %}
      justify-content: center;
      {% endif %}
    "
  >
    <div class="inner">
      <div class="content">
      {% if section.settings.banner_text_title != blank %}
        <h2>
           {% include 'multilang' with section.settings.banner_text_title %}
        </h2>
        <p class="line">&nbsp;</p>
      {% endif %}
      
      {% if section.settings.banner_text_description != blank %}
        <p class="text-center">
          {% include 'multilang' with section.settings.banner_text_description %}
        </p>
      {% endif %}
      
     {% if section.settings.banner_button_text != blank %}
        <a href="{{ section.settings.banner_button_link }}" class="btn">
          {% include 'multilang' with section.settings.banner_button_text %}
          {% comment %}<span class="arrow">arrow</span>{% endcomment %}
        </a>
      {% endif %}
      </div>
    </div>
  </div>
 
</div>
 {% endif %}
{% schema %}
  {
    "name": "Hompage Block Banner",
 	"class": "index-section",
    "settings": [
	   {
        "type": "checkbox",
        "id": "display_banner",
        "label": "Block Banner Home Page?",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Banner Image"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "banner_text_title",
        "label": "Block Banner Title",
        "default": "Milancelos"
      },
      {
        "type": "color",
        "id": "banner_text_title_color",
        "label": "Title Color",
        "default": "#000"
      },
      {
        "type": "text",
        "id": "banner_text_title_size",
        "label": "Title Font Size",
        "default": "20",
        "info": "Default Value: 20"
      },
      {
        "type": "textarea",
        "id": "banner_text_description",
        "label": "Block Banner Description",
        "default": "Pellentesque posuere orci lobortis scelerisque blandit. Donec id tellus lacinia an, tincidunt risus ac, consequat velit. Quisquemos sodales suscipit tortor ditaemcos condimentum lacus meleifend menean viverra auctor blanditos comodous."
      },
      {
        "type": "color",
        "id": "banner_text_description_color",
        "label": "Description Text Color",
        "default": "#2d2d2d"
      },
      {
        "type": "text",
        "id": "banner_button_text",
        "label": "Block Banner Button",
        "default": "Shop The Collection"
      },
      {
        "type": "url",
        "id": "banner_button_link",
        "label": "Block Banner Link"
      }
	],
	"presets": [
      {
        "name": "Hompage Block Banner",
        "category": "Advanced layout"
	  }
    ]
  }
{% endschema %}
<style>
  .banner .container{
    position: relative;
  }
  @media (min-width: 768px){
    .banner .container::before {
      display: block;
      position: absolute;
      left: 10px;
      right: 10px;
      top: 0;
      bottom: 0;
      content: '';
      background: url({{ img_url }});
      background-size: cover;
      background-position: center;
    }
    .banner img { display: none; }
    .banner .inner{padding: 100px 0;position: relative;}
  }
  .banner h2 { color: {{ section.settings.banner_text_title_color }}; font-size: {{ section.settings.banner_text_title_size }}px;}
  .banner p.line { background: {{ section.settings.banner_text_title_color }}; }
  .banner p.text-center span { color: {{ section.settings.banner_text_description_color }}; }
</style>